<?xml version="1.0" encoding="us-ascii"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title>naim: {{page.title}}</title>
	<link href="//fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">
	<style type="text/css">
		A {
			text-decoration: none;
		}
		html {
			overflow-y: scroll;
		}
		body {
			font-family: "Droid Sans", sans-serif;
			margin: 25px;
			text-align: justify;
		}
	</style>
</head>
<body bgcolor="#303030" text="#404040" link="#376DDD" alink="#376DDD" vlink="#376DDD" background="images/background.png">

<script type="text/javascript">
  // Google Analytics
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-867036-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 
        'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();

  // Google Friend Connect
  function startFriendConnect() {
    var skin = {
        'HEIGHT': '285',
        'BORDER_COLOR': '#909090',
        'ENDCAP_BG_COLOR': '#909090',
        'ENDCAP_TEXT_COLOR': '#333333',
        'ENDCAP_LINK_COLOR': '#ffffff',
        'ALTERNATE_BG_COLOR': '#C0C0C0',
        'CONTENT_BG_COLOR': '#C0C0C0',
        'CONTENT_LINK_COLOR': '#376ddd',
        'CONTENT_TEXT_COLOR': '#333333',
        'CONTENT_SECONDARY_LINK_COLOR': '#7777cc',
        'CONTENT_SECONDARY_TEXT_COLOR': '#666666',
        'CONTENT_HEADLINE_COLOR': '',
        'DEFAULT_COMMENT_TEXT': '- add your comment here -',
        'HEADER_TEXT': 'Comments',
        'POSTS_PER_PAGE': '5',
    };
    google.friendconnect.container.setParentUrl('/');  // location of rpc_relay.html and canvas.html
    google.friendconnect.container.renderMembersGadget(
    {
        'id': 'div-1228865485989',
        'site': '18190491089889355627',
    }, skin);
    google.friendconnect.container.renderWallGadget(
    {
        'id': 'div-1228867740377',
        'site': '18190491089889355627',
        'view-params': {
            'scope': 'SITE',
            'allowAnonymousPost': 'true',
            'features': 'video,comment',
        },
    }, skin);
  }

  (function() {
    var fc = document.createElement('script');
    fc.type = 'text/javascript';
    fc.async = true;
    fc.src = 'http://www.google.com/friendconnect/script/friendconnect.js';
    fc.onload = startFriendConnect;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fc, s);
  })();
</script>

<table border="0" cellpadding="0" cellspacing="10" align="center"><tr><td width="282"></td><td valign="top">

<!--A--><table width="784" border="0" cellpadding="0" cellspacing="0"><tr><td>
<!--B--><table width="100%" bgcolor="#484848" border="0" cellpadding="1" cellspacing="0"><tr><td>
<!--C--><table width="100%" bgcolor="#606060" border="0" cellpadding="1" cellspacing="0"><tr><td>
<!--D--><table width="100%" bgcolor="#787878" border="0" cellpadding="1" cellspacing="0"><tr><td>
<!--E--><table width="100%" bgcolor="#909090" border="0" cellpadding="1" cellspacing="0"><tr><td>
<!--F--><table width="100%" bgcolor="#909090" border="0" cellpadding="1" cellspacing="0"><tr><td>
<!--G--><table width="100%" bgcolor="#909090" border="0" cellpadding="1" cellspacing="0"><tr><td>

<!--H--><table border="0" cellpadding="0" cellspacing="0"><tr>
<!--<td valign="top" align="center"><img src="images/naim-dot-200x73-t" width="200" height="73" alt=""/></td>-->
<td valign="top" align="center"><img src="images/naimlogo_nobubble_smaller.png" width="200" height="63" style="padding: 12px" alt=""/></td>
<!--<td valign="top" align="center"><img src="images/naimlogo_withbubble_small" style="padding: 12px" alt=""/></td>-->
<td valign="top" width="30">&nbsp;</td>
<td valign="middle">
<font size="-1">&nbsp;</font><br/>
<font size="+2"><b>naim</b></font><br/>
<font size="-1">&nbsp; &nbsp; A console AIM, ICQ, IRC, and Lily CMC client.</font><br/>
<br/>
</td>
<!--H--></tr></table>

<!--G--></td></tr></table>
<!--F--></td></tr></table>
<!--E--></td></tr></table>
<!--D--></td></tr></table>
<!--D--><table width="100%" bgcolor="#787878" border="0" cellpadding="1" cellspacing="0"><tr>
{% for sect in site.data.pages %}
<td width="14.285714285714285%">
<!--E--><table width="100%" bgcolor="#606060" border="0" cellpadding="1" cellspacing="0"><tr><td>
<!--F--><table width="100%" bgcolor="#484848" border="0" cellpadding="1" cellspacing="0"><tr><td>
  {% if sect.name == page.title %}
<!--G--><table width="100%" bgcolor="#606060" border="0" cellpadding="1" cellspacing="0"><tr><td>
<div align="center" onMouseOver="this.style.background = '#484848';" onMouseOut="this.style.background = '#606060';"><font size="-2">&nbsp;&nbsp;<b><a href="{{sect.url}}"><font color="#FFFFFF"><nobr>{{sect.name}}</nobr></font></a></b>&nbsp;&nbsp;</font></div>
<!--G--></td></tr></table>
  {% else %}
<!--G--><table width="100%" bgcolor="#303030" border="0" cellpadding="1" cellspacing="0"><tr><td>
<div align="center" onMouseOver="this.style.background = '#484848';" onMouseOut="this.style.background = '#303030';"><font size="-2">&nbsp;&nbsp;<b><a href="{{sect.url}}"><font color="#FFFFFF"><nobr>{{sect.name}}</nobr></font></a></b>&nbsp;&nbsp;</font></div>
<!--G--></td></tr></table>
  {% endif %}
<!--F--></td></tr></table>
<!--E--></td></tr></table>
</td>
{% endfor %}
<!--D--></tr></table>
<!--D--><table width="100%" bgcolor="#787878" border="0" cellpadding="1" cellspacing="0"><tr><td>
<!--E--><table width="100%" bgcolor="#909090" border="0" cellpadding="1" cellspacing="0"><tr><td>
<!--F--><table width="100%" bgcolor="#A8A8A8" border="0" cellpadding="1" cellspacing="0"><tr><td>
<!--G--><table width="100%" bgcolor="#C0C0C0" border="0" cellpadding="1" cellspacing="0"><tr><td>
<!--H--><table width="100%" border="0" cellspacing="30" cellpadding="0"><tr><td>

{{content}}

<!--H--></td></tr></table>
<!--G--></td></tr></table>
<!--F--></td></tr></table>
<!--E--></td></tr></table>
<!--D--></td></tr></table>
<!--D--><table width="100%" bgcolor="#787878" border="0" cellpadding="1" cellspacing="0"><tr><td>
<!--D--></td>
<!--D--><td width="1%">
<!--E--><table width="100%" bgcolor="#787878" border="0" cellpadding="1" cellspacing="0"><tr><td>
<!--F--><table width="100%" bgcolor="#787878" border="0" cellpadding="1" cellspacing="0"><tr><td>
<!--G--><table width="100%" bgcolor="#787878" border="0" cellpadding="1" cellspacing="0"><tr><td>
<!--<div align="center"><font size="-2">Copyright 1998-2010 Daniel Reed</font></div>-->
<a target="n" href="http://shell.n.ml.org/n/" title="Daniel Reed"><img src="images/nlogoeyes_small.png" border="0" alt=""/></a>
<!--G--></td></tr></table>
<!--F--></td></tr></table>
<!--E--></td></tr></table>
<!--D--></td></tr></table>
<!--C--></td></tr></table>
<!--B--></td></tr></table>
<!--A--></td></tr></table>

</td><td width="282" valign="top">

<!--B--><table width="100%" bgcolor="#484848" border="0" cellpadding="1" cellspacing="0"><tr><td>
<!--C--><table width="100%" bgcolor="#606060" border="0" cellpadding="1" cellspacing="0"><tr><td>
<!--D--><table width="100%" bgcolor="#787878" border="0" cellpadding="1" cellspacing="0"><tr><td>
<!--E--><table width="100%" bgcolor="#909090" border="0" cellpadding="1" cellspacing="0"><tr><td>
<!--F--><table width="100%" bgcolor="#909090" border="0" cellpadding="1" cellspacing="0"><tr><td>
<!--G--><table width="100%" bgcolor="#909090" border="0" cellpadding="1" cellspacing="0"><tr><td>
<div id="div-1228865485989" style="width: 282px; border: 1px solid #909090;"></div>
<div id="div-1228867740377" style="width: 282px; border: 1px solid #909090;"></div>
<!--G--></td></tr></table>
<!--F--></td></tr></table>
<!--E--></td></tr></table>
<!--D--></td></tr></table>
<!--C--></td></tr></table>
<!--B--></td></tr></table>
<!--A--></td></tr></table>

</td></tr></table>

&nbsp;<br/>
&nbsp;<br/>
&nbsp;<br/>
&nbsp;<br/>
&nbsp;<br/>
&nbsp;<br/>
&nbsp;<br/>

</body>
</html>
